@import auth.DstlProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: DstlProfile)
@main(param){
    <script src="@routes.Assets.versioned("javascripts/kendo.timezones.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/planLoadUtils.js")" type="text/javascript"></script>

        <span id="notification"></span>

    <div  id="planLoadSplitter">
        <div >
            <div id="graphViewSplitter" >
               <div id="planLoadGrid">
                  <div id="planShipmentGridView"></div>
               </div>
               <div id="graphLoad"></div>

            </div>
        </div>

        <div>
            <div  id="factLoadGridView"></div>

        </div>




    </div>

  <script>
          $(document).ready(function () {
              /* ----------------------------------------------------------------------------*/
              moment.locale('ru');
              var datePlan, wnd,
                      detailsTemplate;

              $("#planLoadSplitter").kendoSplitter({
                  orientation: "vertical",
                  panes: [
                      /*  {collapsible: false},*/
                      {collapsible: false, size: "80%"},
                      {collapsible: true, resizable: true, size: "20%"}
                  ],

              });
              $("#graphViewSplitter").kendoSplitter({
                  panes: [
                      /*  {collapsible: false},*/
                      {collapsible: true, size: "20%"},
                      {collapsible: true, resizable: true, size: "80%"}
                  ],

              });


              // create DatePicker from input HTML element
              kendo.culture("ru-RU");

              var scheduler = $("#graphLoad").kendoScheduler({
                  date: new Date("2013/6/6"), // The current date of the scheduler
                  dataSource: [ // The kendo.data.SchedulerDataSource configuration
                      // First scheduler event
                      {
                          id: 1, // Unique identifier. Needed for editing.
                          start: new Date("2013/6/6 08:00 AM"), // Start of the event
                          end: new Date("2013/6/6 09:00 AM"), // End of the event
                          title: "Breakfast" // Title of the event
                      },
                      // Second scheduler event
                      {
                          id: 2,
                          start: new Date("2013/6/6 10:15 AM"),
                          end: new Date("2013/6/6 12:30 PM"),
                          title: "Job Interview"
                      }
                  ],
                  eventHeight: 10,
                  majorTick: 30,
                  views: [
                      "timeline",
                      /*"timelineWeek",
                      "timelineWorkWeek",
                      {
                          type: "timelineMonth",
                          startTime: new Date("2013/6/13 00:00 AM"),
                          majorTick: 1440
                      }*/
                  ],
                  timezone: "Europe/Moscow",
                  edit: function(e) {
                      var buttonsContainer = e.container.find(".k-edit-buttons");
                      var cancelButton = buttonsContainer.find(".k-scheduler-cancel");
                      cancelButton.text("Delete");
                  }
              }).data("");


          });
          planLoadUtils.factLoadGridView();
          planLoadUtils.planShipmentGridView();
  </script>

}