logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/conf/application.conf
*.iml

project/project/
/ПО ДСТЛ.pdf
/public/stylesheets/kendo.bootstrap.mobile.min.css
/public/stylesheets/kendo.bootstrap.min.css
/public/stylesheets/kendo.bootstrap.mobile.min.css.map
/public/stylesheets/kendo.bootstrap.min.css.map
/public/stylesheets/Bootstrap/
/public/javascripts/kendo.all.min.js
/public/javascripts/kendo.culture.ru-RU.min.js
/public/javascripts/kendo.culture.ru-RU.min.js.map
/public/javascripts/kendo.messages.ru-RU.min.js.map
/public/javascripts/kendo.messages.ru-RU.min.js
/public/javascripts/jszip.min.js
/public/stylesheets/kendo.common-bootstrap.core.min.css
/public/stylesheets/kendo.default.min.css
/public/stylesheets/kendo.common-bootstrap.core.min.css.map
/public/stylesheets/kendo.common-bootstrap.min.css
/public/stylesheets/kendo.common-bootstrap.min.css.map
/public/stylesheets/Default/
/public/javascripts/kendo.culture.ru.min.js
/public/javascripts/kendo.culture.ru.min.js.map
