@import org.pac4j.core.profile.CommonProfile
@import auth.DstlProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: DstlProfile)
@main(param) {
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/helper.css")">
      <script src="@routes.Assets.versioned("javascripts/workTime.js")" type="application/javascript"></script>
       <div class="k-content wide">
           <section class="well">
               <h2>Справочник рабочего времени</h2>
           </section>
              <div id="gridWorkTimeView"></div>
       </div>


    <script>



            @if(userInfo.getRoles().contains("USER_CAN_CHANGE")){
                     workTime.gridWorkTimeView();

                        $("#gridWorkTimeView").on("click", ".k-grid-myDelete", function (e) {
                            e.preventDefault();

                            var command = $(this);
                            var cell = command.closest("td");

                            command.remove();
                            cell.append('<a class="k-button k-button-icontext k-grid-myConfirm" href="#"><span class="k-icon k-update"></span>Подтвердить</a>');
                            cell.append('<a class="k-button k-button-icontext k-grid-myCancel" href="#"><span class="k-icon k-cancel"></span>Отмена</a>');
                        });

                        $("#gridWorkTimeView").on("click", ".k-grid-myConfirm", function (e) {
                            e.preventDefault();
                            grid.removeRow($(this).closest("tr"))
                        });

                        $("#gridWorkTimeView").on("click", ".k-grid-myCancel", function (e) {
                            e.preventDefault();
                            grid.refresh();
                        })
                    /*    function timeEditor(container, options) {
                            $('<input data-text-field="' + options.field + '" data-value-field="' + options.field + '" data-bind="value:' + options.field + '" data-format="' + options.format + '"/>')
                                    .appendTo(container)
                                    .kendoTimePicker({culture: "ru-RU"});
                        }*/
            } else {
               workTime.gridWorkTimeViewReadOnly();
            }

   </script>

}

