
@import auth.DstlProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: DstlProfile)
@main(param) {
<script src="@routes.Assets.versioned("javascripts/helper.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/normTimeLoad.js")" type="application/javascript"></script>
       <div class="k-content wide">
           <section class="well">
               <h2>Справочник нормативов времени погрузки</h2>
           </section>
              <div id="gridNormTimeView"></div>
       </div>


    <script>


        @if(userInfo.getRoles().contains("USER_CAN_CHANGE")){
            normTimeLoad.gridNormTimeLoad();

            $("#gridNormTimeView").on("click", ".k-grid-myDelete", function(e) {
                e.preventDefault();

                var command = $(this);
                var cell = command.closest("td");

                command.remove();
                cell.append('<a class="k-button k-button-icontext k-grid-myConfirm" href="#"><span class="k-icon k-update"></span>Подтвердить</a>');
                cell.append('<a class="k-button k-button-icontext k-grid-myCancel" href="#"><span class="k-icon k-cancel"></span>Отмена</a>');


            });

            $("#gridNormTimeView").on("click", ".k-grid-myConfirm", function(e){
                e.preventDefault();
                grid.removeRow($(this).closest("tr"))
            });

            $("#gridNormTimeView").on("click", ".k-grid-myCancel", function(e){
                e.preventDefault();
                grid.refresh();
            })


        } else{
            normTimeLoad.gridNormTimeLoadReadOnly();
        }



   </script>

}

