
@import auth.DstlProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: DstlProfile)
@main(param) {

       <div class="k-content wide">
           <section class="well">
               <h2>Справочник нормативов времени погрузки</h2>
           </section>
              <div id="gridNormTimeView"></div>
       </div>


    <script>

            var dataSourceDB = new kendo.data.DataSource({
                serverAggregates: true,
                transport: {
                    read: function(options) {
                        $.ajax({
                            type: "GET",
                            url: "api/normloads",
                            contentType: "application/json; charset=utf-8",
                            //beforeSend: setHeaderRequest,
                            dataType: 'json',
                            @*data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise'},*@
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },
                    update: function(options){
                        $.ajax({
                            type: "PATCH",
                            url: "api/normload/"+options.data.id,
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            beforeSend: setHeaderRequest,
                            data: kendo.stringify(options.data),
                            success: function(data) {
                                options.success(data);
                            },
                            error: function (request, status, error) {

                                $("#gridNormTimeView").data("kendoGrid").dataSource.fetch();

                            }
                        });
                    },
                    destroy: function(options) {
                        $.ajax({
                            type: "DELETE",
                            url: "api/normload/"+options.data.id,
                            contentType: "application/json; charset=utf-8",
                            beforeSend: setHeaderRequest,
                            dataType: 'json',
                            data: kendo.stringify(options.data),
                            success: function(data) {
                                options.success(data);
                            },
                            error: function (request, status, error) {

                                $("#gridNormTimeView").data("kendoGrid").dataSource.fetch();

                             }
                        });
                    },
                    create: function(options){
                        console.log(options);
                        $.ajax({
                            type: "POST",
                            url: "api/normload",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            beforeSend: setHeaderRequest,
                            data :kendo.stringify(options.data)
                            ,
                            success: function(data) {
                                options.success(data);
                            },
                            error: function (request, status, error) {
                                $("#gridNormTimeView").data("kendoGrid").dataSource.fetch();

                            }
                        });
                    }
                },
                //batch: true,
                schema: {
                    model: {
                        id:"id",

                        fields: {
                            id:{type:"number",editable:false},
                            enterprise: { defaultValue: { id: 0,name:''} },
                            packageTime: { type: "number" },
                            commissionTime:{type:"number"},
                            placerTime:{type:"number"}
                        }
                    }
                },

                change: function(e) {


                }


            });



            /* ========================================== Grid ======================================= */

           var grid =  $("#gridNormTimeView").kendoGrid({
               toolbar: ["create"],
               dataSource: dataSourceDB,
               editable: {
                   mode: "inline",
                   confirmation: false
               }/*function(){
                   if(@isLoggedIn){
                       return {
                           mode: "inline",
                           confirmation: false
                       }
                   } else {
                       return false;
                   }
               }()*/,
             //  height: '300px',
               sortable: true,


               dataBound: function() {
                   $(".k-grid-myDelete span").addClass("k-icon k-delete");
               },
               cancel: function() {
                   setTimeout(function(){
                       $(".k-grid-myDelete span").addClass("k-icon k-delete");
                   });
               },
               columns: [
                   {
                       field: "enterprise",
                       title: "Предприятие",
                       width: "70px",
                       editor: enterpriseDropDownEditor, template: "#=enterprise.name#"

                   },
                   {
                       field: "packageTime",
                       title: "Пакет",
                       width: "60px",


                   },
                   {
                       field: "commissionTime",
                       title: "Комиссионная отгрузка",
                       width: "60px",


                   },
                   {
                       field: "placerTime",
                       title: "Россыпь",
                       width: "180px",



                   },
                   { command:  ["edit", {
                       name: "myDelete",
                       text: "Удалить"
                   }], title: "&nbsp;", width: "350px" }
               ]
           }).data("kendoGrid");

            function enterpriseDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataTextField: "name",
                            dataValueField: "id",
                            dataSource: {
                                transport: {
                                    read: function(options){
                                            axios.get('/api/enterprises').then(function(response){
                                                options.success(response.data);
                                            });
                                    }
                                }
                            }
                        });
            }
            $("#gridNormTimeView").on("click", ".k-grid-myDelete", function(e) {
                e.preventDefault();

                   var command = $(this);
                   var cell = command.closest("td");

                   command.remove();
                   cell.append('<a class="k-button k-button-icontext k-grid-myConfirm" href="#"><span class="k-icon k-update"></span>Подтвердить</a>');
                   cell.append('<a class="k-button k-button-icontext k-grid-myCancel" href="#"><span class="k-icon k-cancel"></span>Отмена</a>');


            });

            $("#gridNormTimeView").on("click", ".k-grid-myConfirm", function(e){
                e.preventDefault();
                grid.removeRow($(this).closest("tr"))
            });

            $("#gridNormTimeView").on("click", ".k-grid-myCancel", function(e){
                e.preventDefault();
                grid.refresh();
            })

       var token;
       userService.token(function(response){
           token =  response;
       });
       function setHeaderRequest(request) {

           if (!!token) {
               request.setRequestHeader("token", token);
           }
       }


   </script>

}

