@import org.pac4j.core.profile.CommonProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: CommonProfile)
@main(param) {
   <div class="container">
       <div class="row">
           <div class="col-lg-12">
              <div id="gridNormTimeView"></div>

           </div>
       </div>
   </div>

    <script>

            var dataSourceDB = new kendo.data.DataSource({
                serverAggregates: true,
                transport: {
                    read: function(options) {
                        $.ajax({
                            type: "GET",
                            url: "api/normloads",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            @*data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise'},*@
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },
                    update: function(options){
                        $.ajax({
                            type: "PATCH",
                            url: "api/normloads",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            @*data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise'},*@
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },
                    destroy: function(options) {
                        $.ajax({
                            type: "DELETE",
                            url: "api/normloads",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            @*data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise'},*@
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },
                    create: function(options){
                        console.log(options);
                        $.ajax({
                            type: "POST",
                            url: "api/normload",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            data :kendo.stringify(options.data)
                            ,
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    }
                },
                schema: {
                    model: {
                        id:"id",

                        fields: {
                            id:{type:"number"},
                            enterprise: { type: "string" },
                            packageTime: { type: "number" },
                            commissionTime:{type:"number"},
                            placerTime:{type:"number"}
                        }
                    }
                },

                change: function(e) {
                    var data = this.data();
                    console.log(data.length); // displays "77"
                }


            });



            /* ========================================== Grid ======================================= */

           $("#gridNormTimeView").kendoGrid({
               toolbar: ["create", "save", "cancel"],
               dataSource: dataSourceDB,
               editable: { //disables the deletion functionality

                   update: true,
                   destroy: false
               },
               height: '100%',
               sortable: true,
               filterable: true,
               resizable: true,

               dataBound: function (e) {
                   $("#gridView").find('.k-icon.k-i-collapse').trigger('click');
               },
               columns: [
                   {
                       field: "enterprise",
                       title: "Предприятие",
                       width: "70px",

                       groupable: false
                   },
                   {
                       field: "packageTime",
                       title: "Пакет",
                       width: "60px",

                       //filterable: false,
                       groupable: false
                   },
                   {
                       field: "commissionTime",
                       title: "Комиссионная отгрузка",
                       width: "60px",

                       //filterable: false,
                       groupable: false
                   },
                   {
                       field: "placerTime",
                       title: "Россыпь",
                       width: "180px",



                   }
               ]
           })

   </script>

}

