@import org.pac4j.core.profile.CommonProfile
@import auth.DstlProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: DstlProfile)
@main(param) {

       <div style="height: 90%; width: 100%;">
           @*class="well"*@
           <section >
               <h2>Справочник транспортных компаний</h2>
           </section>
           <div  id="transportCompanyView" style="height: 100%; width: 100%;"></div>


           </div>


    <script>

            var dataSourceDB = new kendo.data.DataSource({
                serverPaging:true,
                pageSize: 100,
                transport: {
                    read: function(options) {
                        console.log(options);
                        $.ajax({
                            type: "GET",
                            url: "api/transports",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            data:{startIndex: options.data.skip, rowsPerPage: options.data.pageSize},
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },

                },
                //batch: true,
                schema: {
                    type:"json",

                    model: {
                        id:"id",

                        fields: {
                            id:{type:"string",editable:false},
                            nameCompany: { type:"string" },
                            enterpriseName:{type:"string" },
                            codeCompany:{type:"string"},
                            fullName: { type: "string" },
                            addressCompany:{type:"string"},
                            contactPersonCompany:{type:"string"},
                            phoneContactPersonCompany:{type:"string"},
                            driverFullName:{type:"string"},
                            driverPhone :{type:"string"}
                        }

                    },
                    total: function(response) {
                        console.log(response);
                        return response.total; // total is returned in the "total" field of the response
                    }
                },

                change: function(e) {

                }


            });



            /!* ========================================== Grid ======================================= *!/

           var grid =  $("#transportCompanyView").kendoGrid({
              // toolbar: ["create"],
               dataSource: dataSourceDB,
               pageable: true,
               filterable: true,

               /*editable: {
                   mode: "inline",
                   confirmation: false
               },*/
              // height: '100%',
               sortable: true,


               dataBound: function() {
                   dataBindingFlag = true;
                   //$(".k-grid-myDelete span").addClass("k-icon k-delete");
               },
               cancel: function() {
                   setTimeout(function(){
                       $(".k-grid-myDelete span").addClass("k-icon k-delete");
                   });
               },
               columns: [
                   {
                       field: "enterpriseName",
                       title: "Предприятие",
                       width: "100px",
                       filterable: { multi: true, search: true, search: true }
                       // editor: enterpriseDropDownEditor, template: "#=enterprise.name#"

                   },
                   {
                       field: "nameCompany",
                       title: "Наименование ТЭК",
                       width: "200px",
                       filterable: { multi: true, search: true, search: true }
                      // editor: enterpriseDropDownEditor, template: "#=enterprise.name#"

                   },
                   {
                       field: "addressCompany",
                       title: "Адрес ТЭК",
                       width: "200px",

                   },
                   {
                       field: "contactPersonCompany",
                       title: "Контактное лицо",
                       width: "150px",

                   },
                   {
                       field: "phoneContactPersonCompany",
                       title: "Телефон",
                       width: "80px",

                   },
                   {
                       field: "driverFullName",
                       title: "Водитель",
                       width: "80px",
                       filterable: { multi: true, search: true, search: true }
                   },
                   {
                       field: "driverPhone",
                       title: "Телефон водителя",
                       width: "80px",

                   }
                   /*{ command: ["edit", {
                       name: "myDelete",
                       text: "Удалить"
                   }], title: "&nbsp;", width: "350px" }*/
               ]
           }).data("kendoGrid");


   </script>

}

