@import org.pac4j.core.profile.CommonProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: CommonProfile)
@main(param) {

       <div class="k-content wide">
           <section class="well">
               <h2>Справочник транспортных компаний</h2>
           </section>

           <div class="row clearfix">
               <div class="col-lg-12">
                   <section class="well">
                       <h2 class="ra-well-title">Транспортные компании</h2>

                       <div class="row">
                           <div class="col-lg-12 col-sm-12">
                               <div id="transportCompanyView"></div>
                           </div>
                       </div>
                   </section>
               </div>

      @*         <div class="col-lg-5">
                   <section class="well">
                       <h2 class="ra-well-title">Водители</h2>

                       <div class="row">
                           <div class="col-lg-12 col-sm-12">
                               <div id="transportCompanyDriverView"></div>
                           </div>
                       </div>
                   </section>

               </div>*@
           </div>


           </div>


    <script>

            var dataSourceDB = new kendo.data.DataSource({
                serverAggregates: true,
                transport: {
                    read: function(options) {
                        $.ajax({
                            type: "GET",
                            url: "api/transport",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            @*data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise'},*@
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },
                    /*update: function(options){
                        console.log(options);
                        $.ajax({
                            type: "PATCH",
                            url: "api/normload/"+options.data.id,
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            data: kendo.stringify(options.data),
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },
                    destroy: function(options) {
                        $.ajax({
                            type: "DELETE",
                            url: "api/normload/"+options.data.id,
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            data: kendo.stringify(options.data),
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    },
                    create: function(options){
                        console.log(options);
                        $.ajax({
                            type: "POST",
                            url: "api/normload",
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            data :kendo.stringify(options.data)
                            ,
                            success: function(data) {
                                options.success(data);
                            }
                        });
                    }*/
                },
                //batch: true,
                schema: {
                    model: {
                        id:"id",

                        fields: {
                            id:{type:"string",editable:false},
                            transportCompany: { defaultValue: { id: 0,name:''} },
                            fullName: { type: "number" },
                            commissionTime:{type:"number"},
                            placerTime:{type:"number"}
                        }
                    }
                },

                change: function(e) {
                    var data = this.data();
                    console.log(data.length); // displays "77"
                }


            });

*/

            /!* ========================================== Grid ======================================= *!/

           var grid =  $("#transportCompanyView").kendoGrid({
              // toolbar: ["create"],
              // dataSource: dataSourceDB,
               editable: {
                   mode: "inline",
                   confirmation: false
               },
             //  height: '300px',
               sortable: true,


               dataBound: function() {
                   $(".k-grid-myDelete span").addClass("k-icon k-delete");
               },
               cancel: function() {
                   setTimeout(function(){
                       $(".k-grid-myDelete span").addClass("k-icon k-delete");
                   });
               },
               columns: [
                   {
                       field: "",
                       title: "Наименование ТЭК",
                       width: "200px"
                      // editor: enterpriseDropDownEditor, template: "#=enterprise.name#"

                   },
                   {
                       field: "",
                       title: "Адрес ТЭК",
                       width: "200px",


                   },
                   {
                       field: "",
                       title: "Контактное лицо",
                       width: "150px",


                   },
                   {
                       field: "",
                       title: "Телефон",
                       width: "80px",



                   },
                   { command: ["edit", {
                       name: "myDelete",
                       text: "Удалить"
                   }], title: "&nbsp;", width: "350px" }
               ]
           }).data("kendoGrid");

            var gridDriver =  $("#transportCompanyDriverView").kendoGrid({
                //      toolbar: ["create"],
                      // dataSource: dataSourceDB,
                      editable: {
                          mode: "inline",
                          confirmation: false
                      },
                      //  height: '300px',
                      sortable: true,


                      dataBound: function() {
                          $(".k-grid-myDelete span").addClass("k-icon k-delete");
                      },
                      cancel: function() {
                          setTimeout(function(){
                              $(".k-grid-myDelete span").addClass("k-icon k-delete");
                          });
                      },
                      columns: [
                          {
                              field: "",
                              title: "Водитель ФИО",
                              width: "250px"
                              // editor: enterpriseDropDownEditor, template: "#=enterprise.name#"

                          },
                          {
                              field: "",
                              title: "ТЭК",
                              width: "200px",


                          },
                          {
                              field: "",
                              title: "Телефон",
                              width: "150px",


                          }/*,

                          { command: ["edit", {
                              name: "myDelete",
                              text: "Удалить"
                          }], title: "&nbsp;", width: "350px" }*/
                      ]
                  }).data("kendoGrid");

       /*     function enterpriseDropDownEditor(container, options) {
                console.log(options);
                $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataTextField: "name",
                            dataValueField: "id",
                            dataSource: {
                                transport: {
                                    read: function(options){
                                            axios.get('/api/enterprises').then(function(response){
                                                options.success(response.data);
                                            });
                                    }
                                }
                            }
                        });
            }
            $("#gridNormTimeView").on("click", ".k-grid-myDelete", function(e) {
                e.preventDefault();

                var command = $(this);
                var cell = command.closest("td");

                command.remove();
                cell.append('<a class="k-button k-button-icontext k-grid-myConfirm" href="#"><span class="k-icon k-update"></span>Подтвердить</a>');
                cell.append('<a class="k-button k-button-icontext k-grid-myCancel" href="#"><span class="k-icon k-cancel"></span>Отмена</a>');
            });

            $("#gridNormTimeView").on("click", ".k-grid-myConfirm", function(e){
                e.preventDefault();
                grid.removeRow($(this).closest("tr"))
            });

            $("#gridNormTimeView").on("click", ".k-grid-myCancel", function(e){
                e.preventDefault();
                grid.refresh();
            })

*/
   </script>

}

