.conteiner.sidebar {
    font-family: 'Montserrat', sans-serif;
    color: rgba(146,146,146,1.00);
    float: left;
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    background-color: rgba(246,246,246,1.00);
    padding-top: 36px;
    height: 784px;
}

.conteiner.mainContent {
    float: left;
    width: 70%;
    text-align: center;
    padding-left: 4%;
}