/*body { padding-bottom: 60px; }*/
html,body{
    padding-top: 25px;
    with:100%;
    margin:0;
    height:100%;
    font-size: 12px;
    overflow:hidden;

}
body{
    background-image: url("../images/bg_texture.png");
}


@media (min-width: 768px) {
    .navbar-form .form-control {
        min-width: 250px;
    }
}
#login-nav input { margin-bottom: 25px; }
#login {
    width: 80%;
    min-width: 280px;
    max-width: 400px;
    margin: 80px auto 30px;
}


#vertical,
#horizontal
{
    height:100%;
}

#vertical
{
    border-width: 0;
}
#paneljournal{
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav>li .k-widget {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    width: 250px;
}
/* Bootstrap*/
/*.form-control {
    height: 20px;
}*/
.row {
    margin-right: 0px;
}

#savePlan{
    margin: 5px 5px;
}
span.k-widget.k-datepicker.k-header {
    background-color: inherit;
}
span.k-picker-wrap.k-state-default{
    margin-left: 5px;
    margin-top: 8px;
}
label#labelPlanShipmentDay.pull-left {
    padding-top: 15px;
    padding-left: 15px;
}
button#bSavePlan.k-button.k-state-default,button#bCancelPlan.k-button.k-state-default,
button#bExportPlan.k-button.k-state-default,
button#bExportJournalPlan.k-button.k-state-default{
    margin-left: 1px;
    margin-top: 8px;
}
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }

div.k-content.wide{
    background-image: inherit;
}



