/*body { padding-bottom: 60px; }*/
html,body{
    padding-top: 25px;
    with:100%;
    margin:0;
    height:100%;
    overflow:hidden;
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        min-width: 250px;
    }
}



#vertical,
#horizontal
{
    height:100%;
}

#vertical
{
    border-width: 0;
}
#paneljournal{
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav>li .k-widget {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    width: 250px;
}
/* Bootstrap*/
.form-control {
    height: 20px;
}
.row {
    margin-right: 0px;
}


