
@*<div id="paneljournal" >*@

    <div id="journalGridView"></div>

@*</div>*@
<script>


        var dataSourceDBPlanDay = new kendo.data.DataSource({
            serverAggregates: true,
            transport: {
                read: function(options) {
                    $.ajax({
                        type: "GET",
                        url: "api/journalship",
                        contentType: "application/json; charset=utf-8",
                        //beforeSend: setHeaderRequest,
                        dataType: 'json',
                        @*data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise'},*@
                        success: function(data) {
                            options.success(data);
                        }
                    });
                }
            },
            //batch: true,
            schema: {
                model: {
                    id:"id",

                    fields: {
                        id:{type:"number",editable:false},
                        senderEnterprise: { type:"string"},
                        kindShipment: { type:"string"},
                        numberDispatcher: { type: "string" },
                        inPlanDay:{type:"boolean"},
                        dateCreateDispatcher:{type:"string"},
                        dateShipmentDispatcher:{type:"string"},
                        dateDeliveryDispatcher:{type:"string"},
                        existInStore:{type:"boolean"},
                        dateToStore:{type:"string"},
                        placeLoading:{type:"string"},
                        statusDispatcher:{type:"string"},
                        numberOrder:{type:"string"},
                        numberItem:{type:"string"},
                        nameOrder:{type:"string"},
                        nameCustomer:{type:"string"},
                        placeDelivery:{type:"string"},
                        sizeOrder:{type:"number"},
                        sizePallet:{type:"string"},
                        packingMethod:{type:"string"},
                        countPlace:{type:"number"},
                        capacityOrder:{type:"number"},
                        typeTransport:{type:"string"},
                        managerBackOffice:{type:"string"},
                        note:{type:"string"}

                    }
                }
            }

        });





/* ========================================== Grid ======================================= */




      var journalGrid =    $("#journalGridView").kendoGrid({

            dataSource: dataSourceDBPlanDay,
             height: '100%',
            groupable:true,
            sortable: true,
            filterable: true,
            resizable: true,
            pageable: {
                pageSizes: true
            },
           /* dataBound: function (e) {
                $("#gridView").find('.k-icon.k-i-collapse').trigger('click');
            },*/
            columns: [
                {
                    field: "senderEnterprise",
                    title: "Предприятие отправитель",
                    width: "70px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: false
                },
                {
                    field: "kindShipment",
                    title: "Вид отгрузки",
                    width: "60px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    //filterable: false,
                    groupable: false
                },
                {
                    field: "numberDispatcher",
                    title: "№ поручения экспедитору",
                    width: "80px",
                   headerAttributes: gridUtils.headerFormat,
                   attributes: gridUtils.columnFormat,

                },
                {
                    field: "inPlanDay",
                    title: "В плане на сутки",
                    width: "180px",
                    aggregates: ["count"],
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    template: '<input type="checkbox" #= inPlanDay ? "checked=checked" : "" # disabled="disabled" ></input>'
                },
                {
                    field: "dateCreateDispatcher",
                    title: "Дата и время создания ПЭ",
                    width: "130px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    filterable: false,
                    groupable: false
                },
                {
                    field: "dateShipmentDispatcher",
                    title: "Дата отгрузки в ПЭ",
                    width: "50px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: false,
                    groupHeaderTemplate: "Месяц отгрузки: #=value# : (#= calcAll(data,field,value)#)"
                   //groupHeaderTemplate: "Месяц отгрузки: #=value# : (#= count#)"
                },
                {
                    field: "dateDeliveryDispatcher",
                    title: "Дата доставки в ПЭ",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormatChangeDeliveryDate,
                    filterable: false,
                    groupable: false
                },
                {
                    field: "existInStore",
                    title: "Наличие на складе",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    filterable: false,
                    groupable: false
                },
                {
                    field: "dateToStore",
                    title: "Сдача на склад",
                    width: "65px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: false
                },
                {
                    field: "placeLoading",
                    title: "Площадка отгрузки",
                    width: "65px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: true


                },

                {
                    field: "statusDispatcher",
                    title: "Статус ПЭ",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat

                },
                {
                    field: "numberOrder",
                    title: "№ заказа",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat

                },
                {
                    field: "numberItem",
                    title: "№ изделия",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat

                },
                {
                    field: "nameOrder",
                    title: "Наименование заказа",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat

                },
                {
                    field: "nameCustomer",
                    title: "Грузополучатель",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "placeDelivery",
                    title: "Пункт доставки",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "sizeOrder",
                    title: "Объем заказа",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "sizePallet",
                    title: "Размер палетты",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "packingMethod",
                    title: "Способ упаковки",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "countPlace",
                    title: "Количество мест",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "capacityOrder",
                    title: "Объем заказа",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "typeTransport",
                    title: "Вид транспорта",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "managerBackOffice",
                    title: "Менеджер Back-Office",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                },
                {
                    field: "note",
                    title: "Примечание",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat
                }


            ]
        }).data("kendoGrid");
        /* ======================================================================================= */
        $(journalGrid.element).kendoDraggable({
            filter: "tr",
            hint: function (e) {
                console.log("------------------------");
                console.log(planGrid)
                var item = $('<div class="k-grid k-widget" style="background-color: DarkOrange; color: black;"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                return item;
            },
            group: "gridGroupJournal",
        });


        $(planGrid.element).kendoDraggable({
            filter: "tr",
            hint: function (e) {
                var item = $('<div class="k-grid k-widget" style="background-color: MediumVioletRed; color: black;"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                return item;
            },
            group: "gridGroupPlan"
        });
        $(planGrid.element).kendoDropTarget({

            drop: function (e) {
                console.log("===============");
                var dataItem = dataSourceDBPlanDay.getByUid(e.draggable.currentTarget.data("uid"));
               /* dataSource2.remove(dataItem);
                dataSource1.add(dataItem);*/
            },
            group: "gridGroupJournal"
        });

        journalGrid.table.kendoDropTarget({
            drop: function (e) {
                console.log("++++++++++++++++++++++++++");
               // var dataItem = dataSource1.getByUid(e.draggable.currentTarget.data("uid"));
                /*dataSource1.remove(dataItem);
                dataSource2.add(dataItem);*/
            },
            group: "gridGroupPlan"
        });


</script>