
<div id="days_" style="height: 100%; width: 100%;">
    <div id="plandayGrid">

    </div>
    <div id="plandayField">
        @planshipment.plandayField()
    </div>

</div>
<script>
        /* ========================================== Grid ======================================= */

        $("#plandayGrid").kendoGrid({
            toolbar: ["excel"],
            //dataSource: dataSourceDB,
            height: '100%',
            groupable:true,
            sortable: true,
            filterable: true,
            resizable: true,

            dataBound: function (e) {
                $("#gridView").find('.k-icon.k-i-collapse').trigger('click');
            },
            columns: [
                {
                    field: "",
                    title: "Предприятие отправитель",
                    width: "70px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: false
                },
                {
                    field: "",
                    title: "Вид отгрузки",
                    width: "60px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    //filterable: false,
                    groupable: false
                },
                {
                    field: "",
                    title: "Дата плана",
                    width: "60px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    //filterable: false,
                    groupable: false
                },
                {
                    field: "",
                    title: "В плане погрузки",
                    width: "180px",
                    aggregates: ["count"],
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Клиент: #=value# : #=count#: (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Дата отгрузки в ПЭ",
                    width: "50px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: false,
                    groupHeaderTemplate: "Месяц отгрузки: #=value# : (#= calcAll(data,field,value)#)"
                    //groupHeaderTemplate: "Месяц отгрузки: #=value# : (#= count#)"
                },
                {
                    field: "",
                    title: "Классификатор отклонений отгрузки",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Менеджер: #=value#: #=count# : (#=  Math.round((count/calcAll(data,field,value))*100)#%): Count : #=count#"
                },
                {
                    field: "",
                    title: "Дата доставки в ПЭ",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormatChangeDeliveryDate,
                    filterable: false,
                    groupable: false
                },
                {
                    field: "",
                    title: "Дата доставки факт",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormatChangeDeliveryDate,
                    filterable: false,
                    groupable: false
                },
                {
                    field: "",
                    title: "Классификатор отклонений доставки",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Менеджер: #=value#: #=count# : (#=  Math.round((count/calcAll(data,field,value))*100)#%): Count : #=count#"
                },
                {
                    field: "",
                    title: "Наличие на складе",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    filterable: false,
                    groupable: false
                },
                {
                    field: "",
                    title: "Сдача на склад",
                    width: "65px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: false
                },
                {
                    field: "",
                    title: "Площадка отгрузки",
                    width: "65px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupable: true,

                    groupHeaderTemplate: "Причина отклонений: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Статус ПЭ",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "№ поручения экспедитору",
                    width: "80px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Менеджер: #=value#: #=count# : (#=  Math.round((count/calcAll(data,field,value))*100)#%): Count : #=count#"
                },
                {
                    field: "",
                    title: "Дата и время создания ПЭ",
                    width: "130px",
                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    filterable: false,
                    groupable: false
                },
                {
                    field: "",
                    title: "№ заказа",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "№ изделия",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Наименование заказа",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Грузополучатель",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Пункт доставки",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Объем заказа",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Размер палетты",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Способ упаковки",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Количество мест",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Объем заказа",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Вид транспорта",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Время на погрузку",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Наименование ТЭК план",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Наименование ТЭК факт",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Гос. номер ТС",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Водитель",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Телефон водителя",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Доклевеллер",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Расстояние доставки",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Ставка рейса",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Время погрузки ТС",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Менеджер Back-Office",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                },
                {
                    field: "",
                    title: "Примечание",
                    width: "80px",

                    headerAttributes: gridUtils.headerFormat,
                    attributes: gridUtils.columnFormat,
                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                }


            ]
        });
        /* ======================================================================================= */
</script>
