

@import auth.DstlProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: DstlProfile)
@main(param) {


<div class="k-content " style="height: 100%">
    <div class="nav" style="height:50px; width: 100%;">
        <div class="row">
            <div id="toolBarPlanDay" class="col-lg-5 col-md-10 col-sm-12">
                <label id="labelPlanShipmentDay" for="planShipmentDay" class="pull-left">План на: </label>
                <section id="planShipmentDay1" >
                   <input id="planShipmentDay"  type="date">

                    <button id="bSavePlan" class="k-button k-state-default red-tooltip red-tooltip"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Сохранить план"><i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i></button>
                    <button id="bCancelPlan" class="k-button k-state-default red-tooltip"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Отменить изменения"><i class="fa fa-lg fa-times" aria-hidden="true"></i></button>
                    <button id="bExportPlan" class="k-button k-state-default red-tooltip"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Экспортировать план на сутки(Еxcel)">
                            <i class="fa fa-lg fa-download fa-rotate-90" aria-hidden="true"></i></button>
                    <button id="bExportJournalPlan" class="k-button k-state-default red-tooltip"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Экспортировать журнал отгрузок(Еxcel)"><i class="fa fa-lg fa-download fa-rotate-270" aria-hidden="true"></i></button>
                    </section>

            </div>

        </div>
    </div>
    <div id="planShipmentSplitter">
        <div id="planShipmentByDay" >
            <div id="planDayGrid" > </div> @* @planshipment.plandays() *@
        </div>
        <div id="journalShipment" >

            <div id="journalGridView"></div>  @*  @planshipment.journalshipment() *@

        </div>
    </div>

    </div>
    <script id="popup_editor" type="text/x-kendo-template">
            <p>Custom editor template</p>
            <div class="k-edit-label">
            <label for="FirstName">First Name</label>
            </div>
            <!-- autoComplete editor for field: "FirstName" -->
            <input name="FirstName"
            data-bind="value:FirstName"
            data-value-field="firstName"
            data-text-field="firstName"
            data-source="autoCompleteDS"
            data-role="autocomplete" />

            <div class="k-edit-label">
            <label for="LastName" style="color: red;">Last Name</label>
            </div>
            <!-- textbox editor for field: "LastName" -->
            <!-- field: "LastName" is not included as a grid column -->
            <input type="text" class="k-input k-textbox" name="LastName" data-bind="value:LastName">

            <div class="k-edit-label">
            <label for="BirthDate">Birth Date</label>
            </div>
            <!-- datepicker editor for field: "BirthDate" -->
            <input type="text"
            name="BirthDate"
            data-type="date"
            data-bind="value:BirthDate"
            data-role="datepicker" />

            <div class="k-edit-label">
            <label for="Age">Age</label>
            </div>
            <!-- numeric textbox editor for field: "Age" -->
            <input type="text" name="Age" data-type="number" data-bind="value:Age" data-role="numerictextbox" />

    </script>


    <script>
            $(document).ready(function () {
                /* ----------------------------------------------------------------------------*/

                var datePlan;


                $("#planShipmentSplitter").kendoSplitter({
                    orientation: "vertical",
                    panes: [
                        {collapsible: false},
                        {collapsible: false, size: "60%"},
                        {collapsible: false, resizable: false, size: "40%"}
                    ]
                });

                // create DatePicker from input HTML element
                kendo.culture("ru-RU");

                 $("#planShipmentDay").kendoDatePicker({
                    format: kendo.culture().calendar.patterns.d,
                    /* change: function() {
                     var value = this.value();
                     console.log(value); //value is the selected date in the datepicker
                     }*/

                });
                datePlan = $("#planShipmentDay").data("kendoDatePicker");

                datePlan.bind("change", function() {
                    var value = this.value();
                    console.log(value); //value is the selected date in the datepicker
                    planShipmentUtil.setDatePlan(value);
                    planShipmentUtil.planGrid().refresh();

                });
                $("#planShipmentDay").attr("readonly", true);

            });


            planShipmentUtil.journalShipmentView();
            var plangrid =  planShipmentUtil.planGrid();
            planShipmentUtil.createDragAndDrop();

            $("#planDayGrid tbody").bind('dblclick', function (e) {
                console.log(plangrid);
                alert(planShipmentUtil.selectPlanDetailID());
            });




    </script>

}