
@import org.pac4j.core.profile.CommonProfile
@(param: String)(implicit webJarAssets: WebJarAssets,isLoggedIn: Boolean, userInfo: CommonProfile)
@main(param) {
    <div style="height: 40px; width: 100%;">
        <div class="row">
            <div class="col-lg-2">
                <input id="planShipmentDay" type="date">
            </div>
            <div class="col-lg-2">
              <button id="savePlan" class="btn btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div id="planShipment" style="height: 100%;
        width: 100%;">
        <div id="planShipmentByDay">
          @planshipment.plandays()
        </div>
        <div id="journalShipment">
           @planshipment.journalshipment()
        </div>



    </div>

    <script>
            $(document).ready(function () {
                $("#planShipment").kendoSplitter({
                    orientation: "vertical",
                    panes: [
                        {collapsible: false},
                        {collapsible: false, size: "60%"},
                        {collapsible: false, resizable: false, size: "40%"}
                    ]
                });
              /*  $("#days_").kendoSplitter({
                    orientation: "horizontal",
                    panes: [
                        {collapsible: true},
                        {collapsible: false, size: "70%"},
                        {collapsible: false, resizable: false, size: "30%"}
                    ]
                });*/
                kendo.culture("ru-RU");
                // create DatePicker from input HTML element
                $("#planShipmentDay").kendoDatePicker({
                    format: kendo.culture().calendar.patterns.d
                });

            });
            userService.login();

    </script>
}